/******NAV******/
.container--nav{
    background-color: #4b569c;
}
.container--nav .navbar .container-fluid a{
    color: white;
}

.container-fluid{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-fluid .collapse{
    display: flex;
    align-items: center;
    justify-content: center;
}

/****FOOTER****/

.footer{
    background-color: #4b569c;
    height: 60px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
}
    